#username {
    font-weight: bold;
}
#password {
    font-weight: bold;
}
#fullname {
    font-weight: bold;
}
#email {
    font-weight: bold;
}
#age {
    font-weight: bold;
}
#address {
    font-weight: bold;
}
#zipcode {
    font-weight: bold;
}